/*==========================================================
=            Typography Variable and Declaration            =
============================================================*/
@font-face {
  font-family: 'inter';
  src: url("inter.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM-bold';
  src: url("DM-bold.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM-medium';
  src: url("DM-medium.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM-regular';
  src: url("DM-regular.ttf");
  font-style: normal;
  font-display: swap;
}

/*----------  Font Family Variable  ----------*/
/*----------  Font Size Variable  ----------*/
/*=====  End of Typography Variable and Declaration  ======*/
/*======================================
=            Themes Variable           =
========================================*/
/*=====  End of Themes Variable  ======*/
/*=============================================
=            Global CSS            =
=============================================*/
* {
  font-family: "inter";
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

img:focus {
  outline: none;
}

.wps-d-container {
  max-width: 1260px;
  padding: 0 15px;
  width: calc(100% - 30px);
  margin: 0 auto 30px;
}

.wps-d-button {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 13px;
  font-size: 14px;
  background-color: #f5f5fe;
  color: #483de0;
}

/*=====  End of Global CSS  ======*/
/*=============================================
=            Header Section            =
=============================================*/
/*=====  End of Header Section  ======*/
/*=============================================
=            Footer Section CSS            =
=============================================*/
/*=====  End of Footer Section CSS  ======*/
