<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="css/components.css">
</head>

<body>
    <!-- Header button -->
    <a href="#" class="wps-d-header-button wps-d-button">
        <span class="text">Buy Now</span>
    </a>

    <!-- Body button -->
    <a href="#" class="wps-d-body-button wps-d-button">
        <span class="text">Body Button</span>
    </a>

    <!-- Footer button -->
    <a href="#" class="wps-d-footer-button wps-d-button">
        <span class="text">&#9762;</span>
    </a>
</body>

</html>