<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="css/components.css">
</head>

<body>
    <div class="wps-d-card">
        <div class="wps-d-main__feature-card-img-wrap">
            <img src="wp_logo.png" alt="points log" class="wps-d-main__feature-card-img">
        </div>
        <div class="wps-d-main__feature-card-content">
            <h5 class="wps-d-main__feature-card-content-title">
                Points Log
            </h5>
            <p class="wps-d-main__feature-card-content-desc">
                With this feature, customers can track every point related transaction that took place on their account.
            </p>
        </div>
    </div>
</body>

</html>