<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headings</title>
    <link rel="stylesheet" href="css/components.css">
</head>

<body>
    <h2 class="wps-d-heading__title">This is the common heading that will be used in the main site.</h2>
    <h3 class="wps-d-heading__title-2">This is the common heading that will be used in the main site.</h3>
    <h4 class="wps-d-heading__title-3">This is the common heading that will be used in the main site.</h4>
</body>

</html>