@import "colors", "general", "typography", "variables";

/*=============================================
=            Global CSS            =
=============================================*/

* {
    font-family: $wps-d-ff-i;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

img:focus {
    outline: none;
}

.wps-d-container {
    max-width: 1260px;
    padding: 0 15px;
    width: calc(100% - 30px);
    margin: 0 auto 30px;
}

.wps-d-button {
    display: inline-block;
    padding: $wps-d-btn-p;
    border-radius: $wps-d-br-l;
    font-size: $wps-d-fs-xxxs;
    background-color: $wps-d-primary-low;
    color: $wps-d-primary;
}

/*=====  End of Global CSS  ======*/