$wps-d-light          : #fff;
$wps-d-dark           : #1e1e1e;
$wps-d-dark-low       : #efefef;
$wps-d-primary        : #483de0;
$wps-d-primary-low    : #f5f5fe;
$wps-d-secondary      : #fc9918;
$wps-d-secondary-low  : #fffaf3;