$wps-d-dark           : #000;
$wps-d-primary        : #2F2F2F;
$wps-d-secondary      : #6AFF52;
$wps-d-hubspot        : #FF7A59;
$wps-d-wordpress      : #00749C;
$wps-d-gulp           : #D34A47;
$wps-d-sass           : #CC6699;
$wps-d-css            : #07A8CB;
$wps-d-html           : #F0512A;
$wps-d-white          : #FFF;