// Border Radius

$wps-d-br-l: 13px;
$wps-d-br-m: 10px;
$wps-d-br-s: 5px;

// box-shadow

$wps-d-bs-primary: 0px 0px 10px 0px rgb(218, 216, 249);
$wps-d-bs-secondary: 0px 2px 6px 1px #feebd1;
$wps-d-bs-dark: 0px 2px 6px 1px #0000001c;

// paddings

$wps-d-btn-p: 13px 30px;