/*==========================================================
=            Typography Variable and Declaration            =
============================================================*/
@font-face {
    font-family: 'inter';
    src: url('inter.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM-bold';
    src: url('DM-bold.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM-medium';
    src: url('DM-medium.ttf');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM-regular';
    src: url('DM-regular.ttf');
    font-style: normal;
    font-display: swap;
}

/*----------  Font Family Variable  ----------*/

$wps-d-ff-i       : 'inter';
$wps-d-ff-dm-b    : 'DM-bold';
$wps-d-ff-dm-r    : 'DM-regular';
$wps-d-ff-dm-m    : 'DM-medium';

/*----------  Font Size Variable  ----------*/

$wps-d-fs-xxxl    : 150px;
$wps-d-fs-xxl     : 70px;
$wps-d-fs-xl      : 63px;
$wps-d-fs-l       : 48px;
$wps-d-fs-xxxm    : 30px;
$wps-d-fs-xxm     : 25px;
$wps-d-fs-xm      : 20px;
$wps-d-fs-m       : 16px;
$wps-d-fs-xxxs    : 14px;
$wps-d-fs-xxs     : 12px;
$wps-d-fs-xs      : 10px;
$wps-d-fs-s       : 08px;

/*=====  End of Typography Variable and Declaration  ======*/
