@import "./../base/base",
"toggleMenu";
// Button
.wps-d-button {
    display: inline-block;
    padding: $wps-d-btn-p;
    border-radius: $wps-d-br-l;
    font-size: $wps-d-fs-xxxs;
    background-color: $wps-d-primary-low;
    color: $wps-d-primary;
    transition: all .3s ease;
    &:hover {
        background-color: $wps-d-primary;
        color: $wps-d-light;
    }
}

// Container
.wps-d-container {
    max-width: 1260px;
    padding: 0 15px;
    width: calc(100% - 30px);
    margin: 0 auto 30px;
}

// Cards
.wps-d-card {
    border-radius: $wps-d-br-m;
    overflow: hidden;
    box-shadow: $wps-d-bs-dark;
    padding: $wps-d-box-p;
    img {
        width: 100%;
    }
}


/* Common Button */

.wps-d-button {
    display: inline-block;
    padding: 25px 30px;
    border-radius: 13px;
    font-size: 14px;
    background-color: #f5f5fe;
    color: #483de0;
    transition: all .3s ease;
    cursor: pointer;
    &:hover {
        background-color: #483de0;
        color: #fff;
    }
}


/* Body Button */

.wps-d-body-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    background-color: #483de0;
    color: #fff;
    border: 1px solid #483de0;
}


/* Footer Button */

.wps-d-footer-button {
    display: inline-flex;
    padding: 0;
    border-radius: 5px;
    font-size: 24px;
    background-color: #483de0;
    color: #fff;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}


/* Container Box */

.wps-d-container {
    max-width: 1260px;
    padding: 0 15px;
    width: calc(100% - 30px);
    margin: 0 auto 30px;
}

.wps-d-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 6px 1px #0000001c;
    padding: 30px 15px 15px;
}

.wps-d-card img {
    width: 100%;
}


/* Accordian Style */

.wps-d-accordian {
    padding: 15px 25px;
    border: 1px solid #efefef;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #efefef;
    }
}

.wps-d-accordian__head {
    font-size: 16px;
    line-height: 1.38;
    position: relative;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.wps-d-accordian__head-icon {
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    line-height: 0;
    color: #fff;
}

.wps-d-accordian__body {
    padding: 15px 0;
}


/* PopUp Styling */

.wps-d-popup__content {
    position: fixed;
    max-width: 650px;
    padding: 15px;
    width: calc(100% - 30px);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-height: 450px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.wps-d-popup__content--show {
    opacity: 1;
    pointer-events: unset;
}

.wps-d-popup__content-btn-close {
    background-color: #fff;
    color: #483de0;
}


/* Heading */

.wps-d-heading__title {
    font-size: 32px;
    line-height: 1.3;
}

.wps-d-heading__title-2 {
    font-size: 24px;
    line-height: 1.3;
}

.wps-d-heading__title-3 {
    font-size: 18px;
    line-height: 1.3;
}


/* Paragraph */

.wps-d-content__para {
    font-size: 18px;
    line-height: 1.3;
}