.po-head {
    background-color: $po-primary;
}

.po-head__main {
    position: relative;
    min-height: 250px;
    padding: 50px 15px;
    margin: 0 auto 80px;

    @include md {
        min-height: 150px;
        margin: 0 auto 60px;
        padding: 25px 15px;
    }

    a {
        text-decoration: none;
    }
}

.po-head__main-wrap {
    position: relative;
    display: flex;
    align-items: center;
}

.po-head__main-heading {
    font-size: 55px;
    margin: 0 15px 0 0;
    color: #fff;
    font-family: $ff-sb;

    @include md {
        font-size: 28px;
    }
}

.po-head__bookmark {
    display: inline-block;

    img {
        height: 64px;
        width: auto;

        @include md {
            height: 32px;
        }
    }
}

.po-head__main-company {
    font-size: 40px;

    @include md {
        font-size: 20px;
    }

    color: #fff;
    font-family: $ff-r;
    font-weight: 100;
    letter-spacing: 0.5px;
}

.po-head__main-call {
    display: inline-block;
    background-color: #fff;
    position: absolute;
    right: 15px;
    top: 0;
    padding: 25px 10px 5px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    box-shadow: 0 0 5px $po-dark;

    @include md {
        padding: 15px 5px 5px;
    }

    img {
        height: 40px;
        width: auto;

        @include md {
            height: 24px;
        }
    }
}

.po-head__main-email {
    position: absolute;
    color: #fff;
    right: 15px;
    bottom: 15px;
    font-family: $ff-r;
    font-size: 16px;
    letter-spacing: 0.5px;

    @include md {
        position: unset;
        border-top: 1.5px solid #ffffff;
        margin: 10px 0;
        display: block;
    }
}

.po-head__main-dp {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 0 3px $po-white, 0 0 0 8px $po-secondary;

    @include md {
        width: 100px;
        bottom: -50px;
        height: 100px;
    }
}

.po-head__main-dp-wrap {
    flex: 1;
}

.po-head__main-dp-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.po-head__main-dp-call-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
    opacity: 0;
}

.po-head__main-dp-shade {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.po-head__main-dp {
    &:hover {
        .po-head__main-dp-shade {
            opacity: 1;
        }

        .po-head__main-dp-call-icon {
            opacity: 1;
        }
    }
}

.po-hero__name {
    font-size: 50px;
    text-align: center;
    font-family: $ff-r;
    color: $po-primary;

    @include md {
        font-size: 32px;
    }
}

.po-hero__desc {
    font-size: 24px;
    text-align: center;
    font-family: $ff-r;
    font-weight: 400;
    color: $po-primary;
    max-width: 600px;
    margin: 0 auto;

    @include md {
        font-size: 18px;
    }
}

.po-tech__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}