.po-other__head {
    max-width: 600px;
    margin: 15px auto;
    text-align: center;
    font-size: 28px;
    padding: 50px 0 15px;
    position: relative;

    h2 {
        font-family: $ff-b;
        color: $po-primary;
        line-height: 125%;
    }

    &:after {
        content: "";
        position: absolute;
        height: 5px;
        max-width: 600px;
        width: 50%;
        background-color: $po-secondary;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50px;
    }
}

.po-other__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.po-other__main-item {
    flex: 0 0 calc(20% - 40px);
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    color: $po-primary;
    font-family: $ff-b;

    @include sm {
        flex: 0 0 calc(50% - 40px);
    }

    @include md {
        flex: 0 0 calc(33.3% - 40px);
    }

    &:hover {
        background-color: $po-primary;
        color: $po-secondary;
    }
}